# PyCharm IDE folder
.idea/

# Unused old analysis that might be useful later
old_temporal_analysis/


# IGNORE DOWNLOADED ECG DATA

# Ignore ECGData downloaded from https://github.com/mathworks/physionet_ECG_data/blob/main/ECGData.zip
data_getter/from_github/ECGData

# Ignore ECGData downloaded from https://github.com/mathworks/physionet_ECG_data/blob/main/ECGData.zip
data_getter/from_af_termination_challenge/af-termination-challenge-database-1.0.0

# Ignore ECGData downloaded from https://physionet.org/content/mitdb/1.0.0/
data_getter/from_mit_bih_arrhythmia_database/mit-bih-arrhythmia-database-1.0.0
