# PyCharm IDE folder
.idea/

# Environment variables file
.env

# pytorch wavelets module
/wavelet_neural_network/pytorch_wavelets_testing/pytorch_wavelets/

# clone of pytorch wavelets module customized for attempt to parse filter as type tensor
wavelet_neural_network/wnn_pytorch_convolution/my_DWT1D

# Training results for official Wavelet Neural Network
wavelet_neural_network/official_scripts/results

# IGNORE DOWNLOADED ECG DATA

# Ignore ECGData for PyTorch tensors
wavelet_neural_network/official_scripts/data

# Ignore ECGData downloaded from https://github.com/mathworks/physionet_ECG_data/blob/main/ECGData.zip
data_analysis/data_getter/from_github/ECGData

# Ignore ECGData downloaded from https://github.com/mathworks/physionet_ECG_data/blob/main/ECGData.zip
data_analysis/data_getter/from_af_termination_challenge/af-termination-challenge-database-1.0.0

# Ignore ECGData downloaded from https://physionet.org/content/mitdb/1.0.0/
data_analysis/data_getter/from_mit_bih_arrhythmia_database/mit-bih-arrhythmia-database-1.0.0
